@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.woff2") format("woff2"),
    url("Poppins-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.woff2") format("woff2"),
    url("Poppins-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBold.woff2") format("woff2"),
    url("Poppins-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.woff2") format("woff2"),
    url("Roboto-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
